## IDE-independent coding style via EditorConfig: http://editorconfig.org/
## Please be sure to apply these when submitting a pull request.

root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.r]
indent_style = space
indent_size = 4

[*.cpp]
indent_size = 2

[*.yml]
indent_style = space
indent_size = 2
